# Necesitas crear el usuario, la base de datos y renombrar a config.yml
# create role checkeruser with login password '12345678';
# create database checkertest with owner checkeruser;

database: checkertest
host: localhost
port: 5432
user: checkeruser
password: 12345678
